@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@400;500;600;700;800&family=Syne:wght@400;500;600;700;800&display=swap");

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Syne", sans-serif;
}
.border-r {
  border-right: 1.5px solid #000;
}
.border-b {
  border-bottom: 1.5px solid #000;
}
.border-t {
  border-top: 1.5px solid #000;
}
.border-l {
  border-left: 1.5px solid #000;
}
nav {
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #000;
  z-index: 1000;
}

.nav-items {
  margin-right: auto;
}

.hero-wrap {
  position: relative;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 577px) and (max-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 769px) {
  .h-screen-100 {
    min-height: 100vh;
    z-index: 1;
  }
  .h-screen-50 {
    min-height: 50vh;
    z-index: 1;
  }
  .h-screen-75 {
    min-height: 75vh;
    z-index: 1;
  }
  .btn-custom {
    border-radius: 14px;
    padding: 14px 24px;
  }

  /* Navigation */
  nav .container {
    display: flex;
    align-items: center;
    padding: 15px 5px;
  }
  .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .nav-link {
    padding: 0 12px;
    color: #000;
    letter-spacing: 6%;
    font-size: 16px;
  }
  .btn-talk i {
    margin: 0 6px;
  }
  .btn-menu {
    display: none;
  }

  /* Hero */
  .hero-left {
    display: block;
    align-items: center;
    position: absolute;
    top: 205px;
    left: 64px;
    width: 488px;
  }
  .hero-left * {
    margin-bottom: 24px !important;
  }
  .property-tab-1 {
    position: absolute;
    top: 165px;
    left: 121px;
    z-index: 1;
  }
  .property-ip-1 {
    position: absolute;
    top: 215px;
    left: 31px;
    z-index: 2;
  }

  /* Company */
  #company .container {
    padding: 38px 12px;
  }
  #company .container h4 {
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.5%;
    text-align: center;
    margin: 20px 0;
  }
  #company .container h4 span {
    font-size: 34px;
    font-weight: 800;
    line-height: 51px;
  }
  .company-sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 86px;
    margin: 20px 0;
  }
  .company-sponsor img {
    width: 74px;
    height: 74px;
  }

  /* Features */
  #features {
    padding: 42px 0;
  }
  #features .container {
    padding: 28px 12px;
  }
  .box-left {
    border-left: 4px solid #000;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    border-radius: 10px 0 0 10px;
  }
  .box-right {
    border-right: 4px solid #000;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    border-radius: 0 10px 10px 0;
  }
  .property-features .img-left {
    width: 100%;
    height: 100%;
    margin: 23px -16px;
  }
  .property-features .img-right {
    width: 100%;
    height: 100%;
    margin: 23px 16px;
  }
  .features-text {
    margin: 51px 64px;
  }
  .features-text * {
    margin-bottom: 10px;
  }
  .btn-features {
    border: 2px solid #000;
    border-radius: 14px;
  }

  #team .container{
    padding: 70px 12px;
  }
}

@keyframes float {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
